<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<div class="reviews">
  <% @restaurant.reviews.each do |review| %>
    <div>
      <%= review.content %>
    </div>
  <% end %>

</div>

<ul class="list-inline">
  <li><%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary"%></li>
  <li><%= link_to 'Back', restaurants_path, class: "btn btn-success" %> </li><br>
</ul>


